.icon-class{
    padding-bottom: 5px;
    font-size: 60px;
    padding-top: 5px;
}
.temperature{
    font-size: 40px;
    padding-top: 10px;
}

.same{
    display: flex;
    margin: 13px;
}

.head{
    text-align: center;
    font-size: 25px;
    font-family: '"Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;';
}


.format{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.move-left{
    padding-left: 50px;
}
.reel-feel{
    font-size: 20px;
    padding: 15px 0 0 50px;
    font-family: '"Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;';
}

.for-icon{
    height: 70px;
    width: 70px;
}

.drop-icon{
    width: 25px;
    padding-top: 15px !important;
    height: 40px;
}

.date-time{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.humidity{
    padding:15px 0 0 2px ;
}

.background{
    background-color: white;
}

.location-data{
    padding: 5px;
    padding-top: 12px;
    font-style: italic;
    color: rgba(23, 151, 163, 0.826);
}
.temp-data{
    padding: 5px;
    padding-top: 12px;
    font-weight:bold ;
    color: rgba(18, 103, 110, 0.826);
}

.pi, h2{
    font-size: 1.5rem;
    color: rgb(239, 106, 11);
}

.weather-data{
    padding-left: 30%;
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
}