<div class="background">
    <div class="same">
        <i class="pi pi-sun"></i>
        <h2>Know the Weather</h2>

        <div *ngIf ="weather!= null" class="weather-data">
            <div class="location-data">{{weather.name}}, {{ weather.sys.country }}</div>
            <div class="temp-data">{{weather.main.temp}}°C</div>
            <div class="icon-class"><img [src]="icon" /></div>
        </div>
    </div>
    <div >
        <p-tabView class=" ui-g-nopad ui-widget-content ui-no-border" (onChange)="handleChange($event)">
            <p-tabPanel header="Today" [selected]="true">
                <ng-template (onChange)="handleChange($event)">
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Daily" >
            </p-tabPanel>
            
        </p-tabView>
        
    </div>
</div>

<div *ngIf="index == 0">
    <p-card [style]="{'width': '45rem', 'margin-bottom': '2em', 'height': '20rem', 'margin-left':'17rem',
    'margin-top':'3rem'}">
    <div class="same">
        <div>
            <h3>CURRENT WEATHER</h3>
            <p>{{timeDisplay}}</p>
            <div class="same">
                <img [src]="icon" class="for-icon"/>
                <div >
                    <div class="temperature">{{weather.main.temp}}°C</div>
                    <div>Feels Like : {{weather.main.feels_like}}°C</div>
                </div>
            </div>
            <h3>{{weather.weather[0].description}}</h3>
        </div>
        <div class="more-info">
            <p class="format">
                RealFeel : {{weather.main.feels_like}}°C
            </p>
            <p-divider></p-divider>
            <p class="format">
                Min. Temperature : {{weather.main.temp_min}}°C
            </p>
            <p-divider></p-divider>
            <p class="format">
                Max. Temperature : {{weather.main.temp_max}}°C
            </p>
            <p-divider></p-divider>
            <p class="format">
                Wind : {{weather.wind.speed}} km/hr
            </p>
        </div>
    </div>
</p-card>
</div>

<div *ngIf="index == 1">
    
</div>
