<div class="background">
    <div class="same">
        <i class="pi pi-sun"></i>
        <h2>Know the Weather</h2>

        <!-- <div *ngIf ="weatherData$ | async" class="weather-data">
            <div class="location-data">{{weatherInfo[0].name}}, {{ weatherInfo[0].sys.country }}</div>
            <div class="temp-data">{{weatherInfo[0].main.temp}}°C</div>
            <div class="icon-class"><img [src]="iconSrc" /></div>
        </div> -->


        <!-- <div *ngFor="let w of weatherInfo | async">
            <div>{{weatherInfo.main}}</div>

        </div> -->
    </div>
    

</div>