.pi{
    font-size: 2rem;
    color: rgb(239, 106, 11);
}

.same{
    display: flex;
    margin: 10px;
}

.image{
    background-image: url("/src/assets/photos/bydefault.jpg") ;
    background-size: cover;
    background-position: bottom;
    transition: 0.4s;
}

/* .weather-label-dropdown{
    width: '80%'  !important;
    height: '50%'
/* } 
*/
/* [style]="{'width': '80%','height': '50%','padding': '10px'}" */ 